{{#if uData.advisor}}
  {{#each goal.comments as |comment|}}
    <div class='my-2 border border-zinc-600 rounded-md p-2 flex flex-col'>
      <p class='flex self-end text-slate-400'>{{daysSinceToday comment.date}} days ago</p>
      <p class='whitespace-normal break-words'>{{comment.body}}</p>
      <div class='flex flex-row justify-between mt-3'>
        <div id='commentBtnContainer'>
          <button class="no-button bg-gray-700 text-white rounded-md px-2 py-1 m-1 text-sm font-medium hover:no-underline hover:text-white hover:bg-gray-600" id="editCommentForm">Edit</button>
          <button class="no-button bg-gray-700 text-white rounded-md px-2 py-1 m-1 text-sm font-medium hover:no-underline hover:text-white hover:bg-gray-600" id="deleteCommentBtn">Delete</button>
        </div>
        <p class='font-semibold text-sky-500 mt-2 flex self-end'>{{comment.user.username}}</p>
      </div>
    </div>
  {{/each}}
{{else}}
  {{#each goal.comments as |comment|}}
    <div class='my-2 border border-zinc-600 rounded-md p-2 flex flex-col'>
      <p class='flex self-end text-slate-400'>{{daysSinceToday comment.date}} days ago</p>
      <p class='whitespace-normal break-words'>{{comment.body}}</p>
      <div class='flex flex-row justify-end mt-3'>
        <p class='font-semibold text-sky-500 mt-2'>{{comment.user.username}}</p>
      </div>
    </div>
  {{/each}}
{{/if}}
